<ion-content class="ivan"> 

  <ion-header>
    
      <ion-toolbar color="black">

        <img src="../../assets/icon/Logo_DuocUC.svg.png" width="400px" class="logo">
  
    
    </ion-toolbar>
  </ion-header>
  
  <div class="contenedor">
    
    <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar usuario" style="--color: black; --border-width: 2px;"></ion-input>
  <br />
  <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresar contraseña" style="--color: black; --border-width: 2px;"></ion-input>


  <br>
  <a (click)="irASesion()" class="ion-button ion-button-full">Recuperar contraseña</a>

  <ion-button expand="full" (click)="irInicio()"> Iniciar</ion-button>
  

</div>
 
</ion-content>